.manga__body {
  background-color: var(--bg-body);
  min-height: 100vh;
  transition: 900ms background-color ease-in-out;

  main {
    // border: solid 2px rgb(0, 255, 234); ///////
    position: relative;
    padding-top: 35px;

    .manga__contaner {
      // outline: solid 2px rgb(0, 255, 234); ///////
      min-width: 370px;
      max-width: 1000px;
      min-height: 500px;
      margin-inline: auto;
      padding: 50px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // justify-content: space-between;
      row-gap: 30px;
      ///////////
    }

    //todo main__container__manga__page [END]
  }
}
