.manga__body {
  //banner background(blur) + manga cover

  .header1b1 .banner-bg,
  .header1b1 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 30s linear 0s infinite running page1banner1;
    animation: 30s linear 0s infinite running page1banner1;

    @-webkit-keyframes page1banner1 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-1.webp);
      }
      15% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-2.webp);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-3.webp);
      }
      45% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-4.webp);
      }
      60% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-5.webp);
      }
      75% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-6.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-7.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-8.webp);
      }
    }

    @keyframes page1banner1 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-1.webp);
      }
      15% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-2.webp);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-3.webp);
      }
      45% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-4.webp);
      }
      60% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-5.webp);
      }
      75% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-6.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-7.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-8.webp);
      }
    }
  }
}
