.manga__body {
  //banner background(blur) + manga cover
  .header1b3 .banner-bg,
  .header1b3 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 25s linear 0s infinite running  page1banner3;
            animation: 25s linear 0s infinite running  page1banner3;


    @-webkit-keyframes page1banner3 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-1.webp);
      }
      16.6% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-2.webp);
      }
      33.2% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-3.webp);
      }
      49.8% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-4.webp);
      }
      66.4% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-5.webp);
      }
      83% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-6.webp);
      }
      90% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-7.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-7.webp);
      }
    }


    @keyframes page1banner3 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-1.webp);
      }
      16.6% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-2.webp);
      }
      33.2% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-3.webp);
      }
      49.8% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-4.webp);
      }
      66.4% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-5.webp);
      }
      83% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-6.webp);
      }
      90% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-7.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-7.webp);
      }
    }
  }
}
