body {
  background-color: hsl(0, 0%, 2%);
  min-height: 100vh;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

header {
  // z-index
  // ?? header = 0
  --banner-bg-blur: -1;

  height: 400px;
  position: relative;
  font-family: "Public Sans", sans-serif;
  border-bottom: solid hsl(0, 0%, 2%) 13px;

  .banner-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, hsl(0, 0%, 0%), hsla(0, 0%, 0%, 0)),
      url(/assets/manga/page3/The\ Beginning-After-the-End.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: var(--banner-bg-blur);
  }

  .info {
    background-color: hsla(0, 0%, 0%, 0.322);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;

    // Row 1/Column 1
    &__manga-img {
      display: flex;
      justify-content: center;
      align-items: center;

      &__manga-cover {
        width: 246px;
        height: 350px;

        background-image: url(/assets/manga/page3/The\ Beginning-After-the-End.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    // Row 1/Column 2
    &__manga-info {
      padding: 0 100px 0 0;
      h1 {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 1px;
      }

      h2 {
        color: hsla(0, 0%, 100%, 0.812);
        text-shadow: 0 0 1px;
      }

      p {
        color: hsla(0, 0%, 100%, 0.522);
      }
    }
  }
}
