.manga__body {
  //banner background(blur) + manga cover

  .header2b5 .banner-bg,
  .header2b5 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 40s linear 0s infinite running  page2banner5;
            animation: 40s linear 0s infinite running  page2banner5;


    @-webkit-keyframes page2banner5 {
      0% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-1.webp);
      }
      7% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-2.webp);
      }
      14% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-3.webp);
      }
      21% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-4.webp);
      }
      28% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-5.webp);
      }
      35% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-6.webp);
      }
      42% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-7.webp);
      }
      51% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-8.webp);
      }
      58% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-9.webp);
      }
      65% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-10.webp);
      }
      72% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-11.webp);
      }
      79% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-12.webp);
      }
      87% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-13.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-14.webp);
      }
    }


    @keyframes page2banner5 {
      0% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-1.webp);
      }
      7% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-2.webp);
      }
      14% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-3.webp);
      }
      21% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-4.webp);
      }
      28% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-5.webp);
      }
      35% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-6.webp);
      }
      42% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-7.webp);
      }
      51% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-8.webp);
      }
      58% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-9.webp);
      }
      65% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-10.webp);
      }
      72% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-11.webp);
      }
      79% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-12.webp);
      }
      87% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-13.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-14.webp);
      }
    }
  }
}
