.manga__body {
  --bg-body: hsl(0, 0%, 2%);
  //↓↓ light-theme (body)
  --bg-body-light: hsl(0, 0%, 90%);

  ////

  //??   _magic-controller [.controller__container]
  //↓↓ controller__container =>card =>active
  --boxActive: hsla(283, 82%, 20%, 0.545);
  --boxActive-light: hsl(268, 100%, 32%);

  //↓↓ controller__container =>card::after
  --boxBorder: hsla(0, 0%, 100%, 0.425);


  //↓↓ controller__container =>card::before
  --boxHover: hsla(0, 0%, 100%, 0.06);

  //↓↓ controller__container =>card =>card-content
  --box-bg: hsl(0, 0%, 8%);
  --box-bg-light: hsl(0, 0%, 3%);

  //↓↓ controller__container =>card =>card-content =>span
  --box-t: hsl(0, 0%, 60%);

  ////

  //??   _cards-styles [.manga__contaner]
  //↓↓ manga__contaner =>&::after
  --card-title: hsl(0, 0%, 100%);
  //↓↓ manga__contaner =>&::after
  --card-title-bg-lg: hsl(0, 0%, 0%);
  //↓↓ manga__contaner =>&:hover:before
  --card-bg-lg: hsla(0, 0%, 0%, 0.35);

  ////

  //??   _light-dark-theme [.light-dark-btn]
  // -dark theme colors-
  //↓↓ light-theme =>controller__container =>light-dark-btn
  --dark-theme-btn: hsl(0, 0%, 100%);
  //↓↓ light-theme =>controller__container =>light-dark-btn =>circle
  --dark-theme-btn-circle: hsl(0, 0%, 0%);

  // -light theme colors-
  //↓↓ light-theme =>controller__container =>light-dark-btn
  --light-theme-btn: hsl(0, 0%, 0%);
  //↓↓ light-theme =>controller__container =>light-dark-btn =>circle
  --light-theme-btn-circle: hsl(0, 0%, 100%);
}
