.manga__body {
  //banner background(blur) + manga cover

  .header4b9 .banner-bg,
  .header4b9 .info .info__manga-img .info__manga-img__manga-cover {
    animation: 40s linear 0s infinite running page4banner9;

    @keyframes page4banner9 {
      0% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/1.jpg);
      }
      6% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/2.webp);
      }
      12% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/3.jpg);
      }
      18% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/4.webp);
      }
      24% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/5.jpg);
      }
      30% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/6.webp);
      }
      36% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/7.jpg);
      }
      42% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/8.jpg);
      }
      48% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/9.jpg);
      }
      54% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/10.jpg);
      }
      60% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/11.webp);
      }
      66% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/12.webp);
      }
      72% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/13.webp);
      }
      78% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/14.webp);
      }
      100% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/15.webp);
      }
    }
  }
}
