.manga__body {
  //banner background(blur) + manga cover

  .header4b10 .banner-bg,
  .header4b10 .info .info__manga-img .info__manga-img__manga-cover {
    animation: 15s linear 0s infinite running page4banner10;

    @keyframes page4banner10 {
      0% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Akai-Kiri-no-Naka-kara/1.webp);
      }
      25% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Akai-Kiri-no-Naka-kara/2.webp);
      }
      50% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Akai-Kiri-no-Naka-kara/3.webp);
      }
      75% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Akai-Kiri-no-Naka-kara/4.webp);
      }
      100% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Akai-Kiri-no-Naka-kara/5.webp);
      }
    }
  }
}
