.manga__body {
  //banner background(blur) + manga cover

  .header4b6 .banner-bg,
  .header4b6 .info .info__manga-img .info__manga-img__manga-cover {
    animation: 40s linear 0s infinite running page4banner6;

    @keyframes page4banner6 {
      0% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/1.webp);
      }
      5% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/2.webp);
      }
      10% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/3.webp);
      }
      15% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/4.webp);
      }
      20% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/5.webp);
      }
      25% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/6.webp);
      }
      30% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/7.webp);
      }
      35% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/8.webp);
      }
      40% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/9.webp);
      }
      45% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/10.webp);
      }
      50% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/11.webp);
      }
      55% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/12.webp);
      }
      60% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/13.webp);
      }
      65% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/14.webp);
      }
      70% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/15.webp);
      }
      75% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/16.webp);
      }
      80% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/17.jpg);
      }
      85% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/18.webp);
      }
      100% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Kings-Viking/19.webp);
      }
    }
  }
}
