.manga__body {
  //banner background(blur) + manga cover

  .header4b12 .banner-bg,
  .header4b12 .info .info__manga-img .info__manga-img__manga-cover {
    animation: 40s linear 0s infinite running page4banner12;

    @keyframes page4banner12 {
      0% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Do-You-Think-Someone-Like-You-Could-Defeat-the-Demon-Lord/1.webp);
      }
      24% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Do-You-Think-Someone-Like-You-Could-Defeat-the-Demon-Lord/1.webp);
      }

      25% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Do-You-Think-Someone-Like-You-Could-Defeat-the-Demon-Lord/2.webp);
      }
      49% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Do-You-Think-Someone-Like-You-Could-Defeat-the-Demon-Lord/2.webp);
      }

      50% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Do-You-Think-Someone-Like-You-Could-Defeat-the-Demon-Lord/3.webp);
      }
      74% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Do-You-Think-Someone-Like-You-Could-Defeat-the-Demon-Lord/3.webp);
      }

      75% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Do-You-Think-Someone-Like-You-Could-Defeat-the-Demon-Lord/4.webp);
      }
      99% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Do-You-Think-Someone-Like-You-Could-Defeat-the-Demon-Lord/4.webp);
      }
      100% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Do-You-Think-Someone-Like-You-Could-Defeat-the-Demon-Lord/1.webp);
      }
    }
  }
}
