.manga__body {
  //banner background(blur) + manga cover

  .header4b4 .banner-bg,
  .header4b4 .info .info__manga-img .info__manga-img__manga-cover {
    animation: 20s linear 0s infinite running page4banner4;

    @keyframes page4banner4 {
      0% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Sometimes-Even-Reality-is-a-Lie/Sometimes-Even-Reality-1.webp);
      }
      10% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Sometimes-Even-Reality-is-a-Lie/Sometimes-Even-Reality-2.webp);
      }
      20% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Sometimes-Even-Reality-is-a-Lie/Sometimes-Even-Reality-3.webp);
      }
      30% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Sometimes-Even-Reality-is-a-Lie/Sometimes-Even-Reality-4.webp);
      }
      40% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Sometimes-Even-Reality-is-a-Lie/Sometimes-Even-Reality-5.webp);
      }
      50% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Sometimes-Even-Reality-is-a-Lie/Sometimes-Even-Reality-6.webp);
      }
      60% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Sometimes-Even-Reality-is-a-Lie/Sometimes-Even-Reality-7.webp);
      }
      100% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Sometimes-Even-Reality-is-a-Lie/Sometimes-Even-Reality-8.webp);
      }
    }
  }
}
