.manga__body {
  //banner background(blur) + manga cover

  .header4b2 .banner-bg,
  .header4b2 .info .info__manga-img .info__manga-img__manga-cover {
    animation: 15s linear 0s infinite running page4banner2;

    @keyframes page4banner2 {
      0% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Fushi-no-Sougishi/1.webp);
      }
      24% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Fushi-no-Sougishi/1.webp);
      }

      25% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Fushi-no-Sougishi/2.webp);
      }
      49% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Fushi-no-Sougishi/2.webp);
      }

      50% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Fushi-no-Sougishi/3.jpg);
      }
      74% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Fushi-no-Sougishi/3.jpg);
      }

      75% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Fushi-no-Sougishi/4.webp);
      }
      100% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Fushi-no-Sougishi/4.webp);
      }
    }
  }
}
