.manga__body {
  //banner background(blur) + manga cover

  .header1b8 .banner-bg,
  .header1b8 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: page1banner8;

    @keyframes page1banner8 {
      0% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Yume\ Miru\ Prima\ Girl!.webp);
      }

      100% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Sakura-chan\ to\ Amane-kun.webp);
      }
    }
  }
}
