.manga__body {
  //banner background(blur) + manga cover

  .header1b9 .banner-bg,
  .header1b9 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: page1banner9;

    @keyframes page1banner9 {
      0% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Oku-sama\ wa\ Niizuma-chan.webp);
      }

      100% {
        background-image: url(/assets/manga-covers/manga-page1-webp/ID_INVADED_BRAKE_BROKEN.webp);
      }
    }
  }
}
