.manga__body {
  //banner background(blur) + manga cover

  .header1b11 .banner-bg,
  .header1b11 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: page1banner11;

    @keyframes page1banner11 {
      0% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Fushi\ no\ Sougishi.webp);
      }

      100% {
        background-image: url(/assets/manga-covers/manga-page2-webp/Boarding\ School.webp);
      }
    }
  }
}
