.manga__body {
  //banner background(blur) + manga cover

  .header1b9 .banner-bg,
  .header1b9 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 30s linear 0s infinite running page1banner9;
    animation: 30s linear 0s infinite running page1banner9;

    @-webkit-keyframes page1banner9 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-1.webp);
      }
      15% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-2.webp);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-3.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-4.webp);
      }
      55% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-5.webp);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-6.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-7.webp);
      }
      90% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-8.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-9.webp);
      }
    }

    @keyframes page1banner9 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-1.webp);
      }
      15% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-2.webp);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-3.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-4.webp);
      }
      55% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-5.webp);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-6.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-7.webp);
      }
      90% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-8.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-9.webp);
      }
    }
  }
}
