.manga__body {
  //banner background(blur) + manga cover
  .header1b4 .banner-bg,
  .header1b4 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 30s linear 0s infinite running page1banner4;
    animation: 30s linear 0s infinite running page1banner4;

    @-webkit-keyframes page1banner4 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling1.webp);
      }
      10% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling2.webp);
      }
      20% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling3.webp);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling4.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling5.webp);
      }
      50% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling6.webp);
      }
      60% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling7.webp);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling8.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling9.webp);
      }
      90% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling10.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling1.webp);
      }
    }

    @keyframes page1banner4 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling1.webp);
      }
      10% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling2.webp);
      }
      20% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling3.webp);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling4.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling5.webp);
      }
      50% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling6.webp);
      }
      60% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling7.webp);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling8.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling9.webp);
      }
      90% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling10.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling1.webp);
      }
    }
  }
}
