.manga__body {
  //banner background(blur) + manga cover

  .header1b8 .banner-bg,
  .header1b8 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-name: page1banner8;

    @keyframes page1banner8 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-1.webp);
      }
      10% {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-2.webp);
      }
      20% {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-3.webp);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-4.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-5.webp);
      }
      50% {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-6.webp);
      }
      65% {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-7.webp);
      }
      75% {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-8.webp);
      }
      85% {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-9.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-10.jpg);
      }


    }
  }
}
