.manga__body {
  //banner background(blur) + manga cover

  .header1b7 .banner-bg,
  .header1b7 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: page1banner7;

    @keyframes page1banner7 {
      0% {
        background-image: url(/assets/manga-covers/manga-page3-webp/81QDxVfY65L.webp);
      }

      100% {
        background-image: url(/assets/manga-covers/manga-page4-webp/Horimiya.webp);
      }
    }
  }
}
