.manga__body {
  //banner background(blur) + manga cover

  .header1b10 .banner-bg,
  .header1b10 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: page1banner10;

    @keyframes page1banner10 {
      0% {
        background-image: url(/assets/manga-covers/manga-page2-webp/Suki\ x\ Suki.webp);
      }

      100% {
        background-image: url(/assets/manga-covers/manga-page2-webp/Kaguya-sama\ wa\ Kokurasetai_.webp);
      }
    }
  }
}
