.manga__body {
  //banner background(blur) + manga cover

  .header1b5 .banner-bg,
  .header1b5 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 45s;
    animation-name: page1banner5;

    @keyframes page1banner5 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-1.webp);
      }
      7% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-2.webp);
      }
      14% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-3.webp);
      }
      21% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-4.webp);
      }
      28% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-5.webp);
      }
      35% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-6.webp);
      }
      50% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-7.webp);
      }
      57% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-8.webp);
      }
      65% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-9.webp);
      }
      72% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-10.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-11.webp);
      }
      90% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-12.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-13.webp);
      }
    }
  }
}
