.manga__body {
  //banner background(blur) + manga cover

  .header1b12 .banner-bg,
  .header1b12 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 30s linear 0s infinite running page1banner12;
    animation: 30s linear 0s infinite running page1banner12;

    @-webkit-keyframes page1banner12 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-1.webp);
      }
      15% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-2.webp);
      }
      25% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-3.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-4.webp);
      }
      50% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-5.webp);
      }
      65% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-6.webp);
      }
      85% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-7.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-8.webp);
      }
    }

    @keyframes page1banner12 {
      0% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-1.webp);
      }
      15% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-2.webp);
      }
      25% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-3.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-4.webp);
      }
      50% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-5.webp);
      }
      65% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-6.webp);
      }
      85% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-7.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-8.webp);
      }
    }
  }
}
