.manga__body {
  //banner background(blur) + manga cover

  .header1b6 .banner-bg,
  .header1b6 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: page1banner6;

    @keyframes page1banner6 {
      0% {
        background-image: url(/assets/manga-covers/manga-page2-webp/Beautiful\ Girl\ and\ Dangerous\ Bodyguard.webp);
      }

      100% {
        background-image: url(/assets/manga-covers/manga-page2-webp/I\ Have\ a\ Second\ Chance\ at\ Life\,\ so\ I’ll\ Pamper\ My\ Yandere\ Boyfriend\ for\ a\ Happy\ Ending!!.webp);
      }
    }
  }
}
