.manga__body {
  // ? if added onclick add .hide to reader well active even if you click on the images
  // ? so it has to be another element (.bg-hide)
  .reader {
    //* z-index
    --reader: 100;
    --bg-hide: -101;

    position: fixed;
    width: 100%;
    height: 100vh;

    top: 0;
    z-index: var(--reader);

    .bg-hide {
      // border: solid 2px blue;
      position: absolute;
      height: 100%;
      width: 100%;
      background: hsla(0, 0%, 0%, 0.849);
      z-index: var(--bg-hide);
    }

    .close-reader {
      cursor: pointer;
      z-index: 99;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      padding: 5px 25px;
      color: #ffafcc;
      font-family: roboto;
      font-weight: 600;
      font-size: 1.1rem;
      background-color: hsla(199, 100%, 50%, 0.753);

      &:hover {
        text-shadow: 0 0 2px;
        background-color: hsla(199, 100%, 50%, 0.425);
        cursor: pointer;
      }
    }
  }

  .btn {
    cursor: pointer;
    z-index: 99;
    position: absolute;
    border: none;
    padding: 5px 15px;
    color: white;
    background-color: rgba(0, 174, 255, 0.74);

    &:hover {
      text-shadow: 0 0 2px;
      background-color: rgba(0, 174, 255, 0.425);
      cursor: pointer;
    }
  }
}

// class added by JS to body
.noscroll {
  overflow: hidden;
}

.manga-page {
  width: 450px;
  height: 100%;
  margin-inline: auto;
  position: relative;
  overflow: auto;

  img {
    margin-bottom: 5px;
  }
}

.hide {
  display: none;
}
