.manga__body {
  // manga container
  main {
    .manga4 {
      //*==========  Cards [START here]  ==========*//
      .card1 {
        background-image: url(../assets/manga-covers/manga-page4-webp/Boarding-School-Juliet/16.webp);
        &::after {
          content: "Boarding-School-Juliet";
        }
      }
      .card2 {
        background-image: url(../assets/manga-covers/manga-page4-webp/Fushi-no-Sougishi/4.webp);
        &::after {
          content: "Fushi no Sougishi";
        }
      }
      .card3 {
        background-image: url(../assets/manga-covers/manga-page4-webp/Bokura-wa-Minna-Kawaisou/Bokura-wa-Minna-Kawaisou-11.webp);
        &::after {
          content: "Bokura wa Minna Kawaisou";
        }
      }
      .card4 {
        background-image: url(../assets/manga-covers/manga-page4-webp/Sometimes-Even-Reality-is-a-Lie/Sometimes-Even-Reality-8.webp);
        &::after {
          content: "Sometimes Even Reality is a Lie!";
        }
      }
      .card5 {
        background-image: url(../assets/manga-covers/manga-page4-webp/We-Dont-Know-a-Thing-About-Love/3.webp);
        &::after {
          content: "We Dont Know a Thing About Love";
        }
      }
      .card6 {
        background-image: url(../assets/manga-covers/manga-page4-webp/Kings-Viking/19.webp);
        &::after {
          content: "Kings-Viking";
        }
      }
      .card7 {
        background-image: url(../assets/manga-covers/manga-page4-webp/I-Will-Be-Eaten-by-You/4.webp);
        &::after {
          content: "I Will Be Eaten by You";
        }
      }
      .card8 {
        background-image: url(../assets/manga-covers/manga-page4-webp/The-Flowers-of-Evil/11.jpg);

        &::after {
          content: "The Flowers of Evil";
        }
      }
      .card9 {
        background-image: url(../assets/manga-covers/manga-page4-webp/Blood-on-the-Tracks/15.webp);
        &::after {
          content: "Blood on the Tracks";
        }
      }
      .card10 {
        background-image: url(../assets/manga-covers/manga-page4-webp/Akai-Kiri-no-Naka-kara/5.webp);
        &::after {
          content: "Akai Kiri no Naka kara";
        }
      }
      .card11 {
        background-image: url(../assets/manga-covers/manga-page4-webp/Kakegurui/16.webp);
        &::after {
          content: "Kakegurui";
        }
      }
      .card12 {
        background-image: url(../assets/manga-covers/manga-page4-webp/Do-You-Think-Someone-Like-You-Could-Defeat-the-Demon-Lord/4.webp);
        &::after {
          content: "Do You Think Someone Like You Could Defeat the Demon Lord";
        }
      }
      //*==========  Cards [END here]  ==========*//
      //todo manga4 [END]
    }
  }
}
