.manga__body {
  //banner background(blur) + manga cover

  .header2b4 .banner-bg,
  .header2b4 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 45s;
    animation-name: page2banner4;

    @keyframes page2banner4 {
      0% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-1.webp);
      }
      6% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-2.webp);
      }
      12% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-3.webp);
      }
      18% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-4.webp);
      }
      24% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-5.webp);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-6.webp);
      }
      36% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-7.webp);
      }
      43% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-8.webp);
      }
      50% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-9.webp);
      }
      56% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-10.webp);
      }
      62% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-11.webp);
      }
      68% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-12.webp);
      }
      74% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-13.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-14.webp);
      }
      86% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-15.webp);
      }
      94% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-16.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-17.webp);
      }
    }
  }
}
