.manga__body {
  //banner background(blur) + manga cover

  .header2b1 .banner-bg,
  .header2b1 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-name: page2banner1;

    @keyframes page2banner1 {
      0% {
        background-image: url(/assets/manga-covers/manga-page2-webp/Ajin/Ajin-1.webp);
      }
    }
  }
}
