.manga__body {
  //banner background(blur) + manga cover

  .header2b6 .banner-bg,
  .header2b6 .info .info__manga-img .info__manga-img__manga-cover {
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-name: page2banner6;

    @keyframes page2banner6 {
      0% {
        background-image: url(/assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-1.webp);
      }
      0% {
        background-image: url(/assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-1.webp);
      }
    }
  }
}
