.manga__body {
  //banner background(blur) + manga cover

  .header2b10 .banner-bg,
  .header2b10 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 25s linear 0s infinite running page2banner10;
    animation: 25s linear 0s infinite running page2banner10;

    @-webkit-keyframes page2banner10 {
      0% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-1.webp);
      }
      10% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-2.jpg);
      }
      20% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-3.jpg);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-4.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-5.jpg);
      }
      50% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-6.jpg);
      }
      60% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-7.jpg);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-8.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-9.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-10.webp);
      }
    }

    @keyframes page2banner10 {
      0% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-1.webp);
      }
      10% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-2.jpg);
      }
      20% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-3.jpg);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-4.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-5.jpg);
      }
      50% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-6.jpg);
      }
      60% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-7.jpg);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-8.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-9.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-10.webp);
      }
    }
  }
}
