.manga__body {
  //banner background(blur) + manga cover

  .header3b3 .banner-bg,
  .header3b3 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 70s linear 0s infinite running page3banner3;
    animation: 70s linear 0s infinite running page3banner3;

    @-webkit-keyframes page3banner3 {
      0% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-1.webp);
      }
      3% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-2.webp);
      }
      6% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-3.webp);
      }
      9% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-4.webp);
      }
      12% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-5.webp);
      }
      15% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-6.webp);
      }
      18% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-7.webp);
      }
      21% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-8.webp);
      }
      24% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-9.webp);
      }
      27% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-10.webp);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-11.webp);
      }
      33% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-12.webp);
      }
      36% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-13.webp);
      }
      39% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-14.webp);
      }
      42% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-15.webp);
      }
      45% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-16.webp);
      }
      48% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-17.webp);
      }
      51% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-18.webp);
      }
      54% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-19.webp);
      }
      67% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-20.webp);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-21.webp);
      }
      73% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-22.webp);
      }
      75% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-23.webp);
      }
      78% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-24.webp);
      }
      81% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-25.webp);
      }
      84% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-26.webp);
      }
      87% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-27.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-28.webp);
      }
    }

    @keyframes page3banner3 {
      0% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-1.webp);
      }
      3% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-2.webp);
      }
      6% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-3.webp);
      }
      9% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-4.webp);
      }
      12% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-5.webp);
      }
      15% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-6.webp);
      }
      18% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-7.webp);
      }
      21% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-8.webp);
      }
      24% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-9.webp);
      }
      27% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-10.webp);
      }
      30% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-11.webp);
      }
      33% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-12.webp);
      }
      36% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-13.webp);
      }
      39% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-14.webp);
      }
      42% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-15.webp);
      }
      45% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-16.webp);
      }
      48% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-17.webp);
      }
      51% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-18.webp);
      }
      54% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-19.webp);
      }
      67% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-20.webp);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-21.webp);
      }
      73% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-22.webp);
      }
      75% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-23.webp);
      }
      78% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-24.webp);
      }
      81% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-25.webp);
      }
      84% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-26.webp);
      }
      87% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-27.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-28.webp);
      }
    }
  }
}
