.manga__body {
  //banner background(blur) + manga cover

  .header3b4 .banner-bg,
  .header3b4 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 40s linear 0s infinite running page3banner4;
    animation: 40s linear 0s infinite running page3banner4;

    @-webkit-keyframes page3banner4 {
      0% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-1.webp);
      }
      7% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-2.webp);
      }
      14% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-3.webp);
      }
      21% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-4.webp);
      }
      28% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-5.webp);
      }
      35% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-6.webp);
      }
      42% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-7.webp);
      }
      49% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-8.jpg);
      }
      56% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-9.jpg);
      }
      63% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-10.webp);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-11.jpg);
      }
      78% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-12.webp);
      }
      88% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-13.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-14.jpg);
      }
    }

    @keyframes page3banner4 {
      0% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-1.webp);
      }
      7% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-2.webp);
      }
      14% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-3.webp);
      }
      21% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-4.webp);
      }
      28% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-5.webp);
      }
      35% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-6.webp);
      }
      42% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-7.webp);
      }
      49% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-8.jpg);
      }
      56% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-9.jpg);
      }
      63% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-10.webp);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-11.jpg);
      }
      78% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-12.webp);
      }
      88% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-13.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-14.jpg);
      }
    }
  }
}
