.manga__body {
  //banner background(blur) + manga cover

  .header3b10 .banner-bg,
  .header3b10 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 40s linear 0s infinite running page3banner10;
            animation: 40s linear 0s infinite running page3banner10;

    @-webkit-keyframes page3banner10 {
      0% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-1.jpg);
      }
      5% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-2.webp);
      }
      10% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-3.webp);
      }
      15% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-4.webp);
      }
      20% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-5.jpg);
      }
      25% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-6.webp);
      }
      30% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-7.webp);
      }
      35% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-8.webp);
      }
      40% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-9.webp);
      }
      45% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-10.webp);
      }
      50% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-11.webp);
      }
      55% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-12.jpg);
      }
      60% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-13.webp);
      }
      65% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-14.webp);
      }
      70% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-15.webp);
      }
      75% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-16.webp);
      }
      80% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-17.webp);
      }
      85% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-18.webp);
      }
      90% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-19.webp);
      }
      100% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-20.webp);
      }
    }

    @keyframes page3banner10 {
      0% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-1.jpg);
      }
      5% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-2.webp);
      }
      10% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-3.webp);
      }
      15% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-4.webp);
      }
      20% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-5.jpg);
      }
      25% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-6.webp);
      }
      30% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-7.webp);
      }
      35% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-8.webp);
      }
      40% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-9.webp);
      }
      45% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-10.webp);
      }
      50% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-11.webp);
      }
      55% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-12.jpg);
      }
      60% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-13.webp);
      }
      65% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-14.webp);
      }
      70% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-15.webp);
      }
      75% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-16.webp);
      }
      80% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-17.webp);
      }
      85% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-18.webp);
      }
      90% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-19.webp);
      }
      100% {
        background-image: url(/assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-20.webp);
      }
    }
  }
}
