.manga__body {
  //banner background(blur) + manga cover

  .header3b2 .banner-bg,
  .header3b2 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 40s linear 0s infinite running page3banner2;
    animation: 40s linear 0s infinite running page3banner2;

    @-webkit-keyframes page3banner2 {
      0% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-1.webp);
      }
      7% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-2.jpg);
      }
      14% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-3.webp);
      }
      21% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-4.webp);
      }
      28% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-5.webp);
      }
      35% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-6.webp);
      }
      42% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-7.webp);
      }
      49% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-8.webp);
      }
      56% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-9.webp);
      }
      63% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-10.jpg);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-11.webp);
      }
      77% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-12.webp);
      }
      84% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-13.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-14.webp);
      }
    }

    @keyframes page3banner2 {
      0% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-1.webp);
      }
      7% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-2.jpg);
      }
      14% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-3.webp);
      }
      21% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-4.webp);
      }
      28% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-5.webp);
      }
      35% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-6.webp);
      }
      42% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-7.webp);
      }
      49% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-8.webp);
      }
      56% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-9.webp);
      }
      63% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-10.jpg);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-11.webp);
      }
      77% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-12.webp);
      }
      84% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-13.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-14.webp);
      }
    }
  }
}
