.manga__body {
  //banner background(blur) + manga cover

  .header3b9 .banner-bg,
  .header3b9 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 80s linear 0s infinite running page3banner9;
            animation: 80s linear 0s infinite running page3banner9;

    @-webkit-keyframes page3banner9 {
      0% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-1.webp);
      }
      4% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-2.webp);
      }
      8% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-3.webp);
      }
      12% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-4.webp);
      }
      16% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-5.webp);
      }
      20% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-6.webp);
      }
      24% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-7.webp);
      }
      28% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-8.webp);
      }
      32% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-9.webp);
      }
      36% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-10.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-11.webp);
      }
      44% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-12.jpg);
      }
      48% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-13.webp);
      }
      52% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-14.webp);
      }
      56% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-15.webp);
      }
      60% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-16.jpg);
      }
      64% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-17.webp);
      }
      68% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-18.webp);
      }
      72% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-19.webp);
      }
      76% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-20.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-21.jpg);
      }
      84% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-22.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-23.webp);
      }
    }

    @keyframes page3banner9 {
      0% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-1.webp);
      }
      4% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-2.webp);
      }
      8% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-3.webp);
      }
      12% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-4.webp);
      }
      16% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-5.webp);
      }
      20% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-6.webp);
      }
      24% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-7.webp);
      }
      28% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-8.webp);
      }
      32% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-9.webp);
      }
      36% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-10.webp);
      }
      40% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-11.webp);
      }
      44% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-12.jpg);
      }
      48% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-13.webp);
      }
      52% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-14.webp);
      }
      56% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-15.webp);
      }
      60% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-16.jpg);
      }
      64% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-17.webp);
      }
      68% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-18.webp);
      }
      72% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-19.webp);
      }
      76% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-20.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-21.jpg);
      }
      84% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-22.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-23.webp);
      }
    }
  }
}
