.manga__body {
  .controller__container {
    .light-dark-btn {
      width: 60px;
      height: 27px;
      background-color: var(--dark-theme-btn);
      border-radius: 50px;
      position: relative;
      transition: 3150ms background-color ease;

      .circle {
        width: 20px;
        height: 20px;
        background-color: var(--dark-theme-btn-circle);
        border-radius: 100%;
        position: absolute;
        top: 3.5px;
        left: 3px;
        transition: 350ms transform ease;
      }
    }
  }
}

// light-theme == body

.light-theme {
  background-color: var(--bg-body-light);

  .controller__container {
    // Cards
    .cards {
      .card > .active {
        background-color: var(--boxActive-light);
      }
      .card-content {
        background-color: var(--box-bg-light);
      }
      
    }

    //light dark button
    .light-dark-btn {
      background-color: var(--light-theme-btn);

      .circle {
        background-color: var(--light-theme-btn-circle);
        transform: translateX(32.5px);
      }
    }
  }
}
