//*==========  Magic controller [START here]  ==========*//
.manga__body {
  .controller__container {
    // border: 2px blue solid; //////
    background-color: inherit;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

  

    .cards {
      // border: solid 2px rgb(0, 255, 234); ///////
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 2px;
      width: auto;
      height: 50px;
      border-radius: 0;
    }

    .cards:hover > .card::after {
      opacity: 1;
    }

    .card {
      // border: solid 2px rgb(21, 255, 0); ///////
      cursor: pointer;
      height: 50px;
      width: 60px;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .card:hover::before {
      opacity: 1;
    }

    .card::before,
    .card::after {
      // border: solid 2px rgb(0, 255, 234); ///////
      content: "";
      height: 100%;
      width: 100%;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      transition: opacity 500ms;
    }

    .card::before {
      // border: solid 2px rgb(0, 255, 234); ///////
      background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        var(--boxHover),
        transparent 40%
      );
      z-index: 3;
    }

    .card::after {
      background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        var(--boxBorder),
        transparent 30%
      );
      z-index: 1;
    }

    .card > .card-content {
      // border: solid 2px rgb(0, 255, 234); ///////
      background-color: var(--box-bg);
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      inset: 1px;
      padding: 10px;
      position: absolute;
      z-index: 2;

      span {
        color: var(--box-t);
        font-weight: 600;
        font-size: 1rem;
        margin: auto;
      }
    }
    .card > .active {
      background-color: var(--boxActive);
    }
  }
  //*==========  Magic controller [END here]  ==========*//
}
