.manga__body {
  //banner background(blur) + manga cover
  .header1 .banner-bg,
  .header1 .info .info__manga-img .info__manga-img__manga-cover {
    background-image: url(../../../assets/manga/page1/awkward-senpai.webp);
  }

  // manga container
  main {
    .manga1 {
      .card1 {
        background-image: url(../../../assets/manga/page1/chainsaw-man.webp);
        &::after {
          content: "Chainsaw Man";
        }
      }
      .card2 {
        background-image: url(../../../assets/manga/page1/mieruko-chan.webp);
        &::after {
          content: "Awkward Senpai";
        }
      }
      .card3 {
        background-image: url(../../../assets/manga/page1/dimensional-seduction.webp);
        &::after {
          content: "2.5 Dimensional Seduction";
        }
      }
      .card4 {
        background-image: url(../../../assets/manga/page1/troublesome-days-vol1.webp);
        &::after {
          content: "Sometimes Even Reality Is a Lie!";
        }
      }
      .card5 {
        background-image: url(../../../assets/manga/page1/berserk-of-gluttony.webp);
        &::after {
          content: "Berserk of Gluttony";
        }
      }
      .card7 {
        background-image: url(../../../assets/manga/page1/boy-s-abyss.webp);
        &::after {
          content: "Boy's Abyss";
        }
      }
      .card6 {
        background-image: url(../../../assets/manga/page1/awkward-senpai.webp);
        &::after {
          content: "Name of manga and somedfghdfghfd other info";
        }
      }
      .card8 {
        background-image: url(../../../assets/manga/page1/boy-s-abyss-vol4.webp);
        &::after {
          content: "Name of mangdfghdfhfda and some other info";
        }
      }
      .card9 {
        background-image: url(../../../assets/manga/page1/boy-s-abyss-vol6.webp);
        &::after {
          content: "Name of mangjgfdhfghjfdgha and some other info";
        }
      }
      .card10 {
        background-image: url(../../../assets/manga/page1/boy-s-abyss-vol8.webp);
        &::after {
          content: "Boy's Abyss  [Vol. 8]  [Ch. 78]";
        }
      }
      .card11 {
        background-image: url(../../../assets/manga/page1/id-invaded-brake-broken.webp);
        &::after {
          content: "ID INVADED #BRAKE BROKEN";
        }
      }
      .card12 {
        background-image: url(../../../assets/manga/page1/im-not-that-kind-of-talent.webp);
        &::after {
          content: "I'm Not That Kind of Talent";
        }
      }
      //*==========  Cards [END here]  ==========*//
      //todo manga1 [END]
    }
  }
}
