.manga__body {


  // manga container
  main {
    .manga2 {
      //*==========  Cards [START here]  ==========*//
      .card1 {
        background-image: url(/assets/manga-covers/manga-page2-webp/Ajin/Ajin-17.webp);
        &::after {
          content: "Boarding School";
        }
      }
      .card2 {
        background-image: url(/assets/manga-covers/manga-page2-webp/Sweet-Home/Sweet-Home-12.webp);
        &::after {
          content: "I Have a Second Chance at Life, so I’ll Pamper My Yandere Boyfriend for a Happy Ending!!";
        }
      }
      .card3 {
        background-image: url(/assets/manga-covers/manga-page2-webp/Boys-Abyss/Boys-Abyss-11.webp);
        &::after {
          content: "Kage no Jitsuryokusha ni Naritakute";
        }
      }
      .card4 {
        background-image: url(/assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-17.webp);
        &::after {
          content: "Beautiful Girl and Dangerous Bodyguard";
        }
      }
      .card5 {
        background-image: url(/assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-14.webp);
        &::after {
          content: "Watashitachi wa Koi wo Shiranai";
        }
      }
      .card6 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Kaguya-sama\ wa\ Kokurasetai_.webp);
        &::after {
          content: "Kaguya-sama wa Kokurasetai";
        }
      }
      .card7 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Brothers\ and\ Sisters.webp);
        &::after {
          content: "Brothers and Sisters";
        }
      }
      .card8 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Uzaki-chan\ wa\ Asobitai!.webp);
        &::after {
          content: "Uzaki-chan wa Asobitai!";
        }
      }
      .card9 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Sometimes\ Even\ Reality\ Is\ a\ Lie!\ -\ Chapter\ 38.5_\ Extra\ chapter\ -\ 1.webp);
        &::after {
          content: "Sometimes Even Reality Is a Lie!";
        }
      }
      .card10 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Suki\ x\ Suki.webp);
        &::after {
          content: "Suki x Suki";
        }
      }
      .card11 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Koushin\ Koinu\ ni\ Koibumi\ wo\ -\ Vol.1\ Ch.1\ -\ 1st\ Letter\ -\ 1.webp);
        &::after {
          content: "Koushin Koinu ni Koibumi wo - Vol.1 Ch.1 - 1st Letter - 1";
        }
      }
      .card12 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Uzaki-chan\ wa\ Asobitai.webp);
        &::after {
          content: "Uzaki-chan wa Asobitai!";
        }
      }
      //*==========  Cards [END here]  ==========*//
      //todo manga2 [END]
    }
  }
}
