.manga__body {
  // manga container
  main {
    .manga2 {
      //*==========  Cards [START here]  ==========*//
      .card1 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ajin/Ajin-17.webp);
        &::after {
          content: "Ajin";
        }
      }
      .card2 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Sweet-Home/Sweet-Home-12.webp);
        &::after {
          content: "Sweet Home";
        }
      }
      .card3 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Boys-Abyss/Boys-Abyss-11.webp);
        &::after {
          content: "Boy's Abyss";
        }
      }
      .card4 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Ijimeru-Yabai-Yatsu/Ijimeru-Yabai-Yatsu-17.webp);
        &::after {
          content: "Ijimeru Yabai Yatsu";
        }
      }
      .card5 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Tokyo-Ghoul/Tokyo-Ghoul-14.webp);
        &::after {
          content: "Tokyo Ghoul";
        }
      }
      .card6 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Attack-on-Titan/Attack-on-Titan-34.webp);
        &::after {
          content: "Attack on Titan";
        }
      }
      .card7 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Toilet-bound-Hanako-kun/Hanako-kun-18.webp);
        &::after {
          content: "Jibaku Shounen Hanako-kun";
        }
      }
      .card8 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Youjo-Senki/Youjo-Senki-26.webp);
        &::after {
          content: "Youjo-Senki";
        }
      }
      .card9 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Call-of-the-Night/Call-of-the-Night-14.webp);
        &::after {
          content: "Call of the Night";
        }
      }
      .card10 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Vanitas-no-Carte/Vanitas-no-Carte-10.webp);
        &::after {
          content: "Vanitas no Carte";
        }
      }
      .card11 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Homunculus/Homunculus-15.webp);

        &::after {
          content: "Homunculus";
        }
      }
      .card12 {
        background-image: url(../assets/manga-covers/manga-page2-webp/Satsuriku-no-Tenshi/Satsuriku-no-Tenshi-12.webp);
        &::after {
          content: "Satsuriku no Tenshi";
        }
      }
      //*==========  Cards [END here]  ==========*//
      //todo manga2 [END]
    }
  }
}
