.manga__body {
  // manga container
  main {
    .manga3 {
      //*==========  Cards [START here]  ==========*//
      .card1 {
        background-image: url(../assets/manga-covers/manga-page3-webp/5Toubun-no-Hanayome/5Toubun-no-Hanayome-14.webp);
        &::after {
          content: "5Toubun no Hanayome";
        }
      }
      .card2 {
        background-image: url(../assets/manga-covers/manga-page3-webp/Gekkan-Shoujo-Nozaki-kun/Nozaki-kun-14.webp);
        &::after {
          content: "Gekkan Shoujo Nozaki kun";
        }
      }
      .card3 {
        background-image: url(../assets/manga-covers/manga-page3-webp/kaguya-sama-love-is-war/love-is-war-28.webp);
        &::after {
          content: "kaguya sama love is war";
        }
      }
      .card4 {
        background-image: url(../assets/manga-covers/manga-page3-webp/Science-Fell-in-Love-So-I-Tried-to-Prove-It/Science-Fell-in-Love-14.jpg);
        &::after {
          content: "Science Fell in Love So I Tried to Prove It";
        }
      }
      .card5 {
        background-image: url(../assets/manga-covers/manga-page3-webp/Seraph-of-the-End/Seraph-of-the-End-28.jpg);
        &::after {
          content: "Seraph of the End";
        }
      }
      .card6 {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-9.jpg);
        &::after {
          content: "Juujika-no-Rokunin";
        }
      }
      .card7 {
        background-image: url(../assets/manga-covers/manga-page3-webp/Kaiju-No-8/Kaiju-No8-8.webp);
        &::after {
          content: "Kaiju No. 8";
        }
      }
      .card8 {
        background-image: url(../assets/manga-covers/manga-page3-webp/Horimiya/Horimiya-16.webp);

        &::after {
          content: "Horimiya";
        }
      }
      .card9 {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bungou-Stray-Dogs/Bungou-Stray-Dogs-23.webp);
        &::after {
          content: "Bungou Stray Dogs";
        }
      }
      .card10 {
        background-image: url(../assets/manga-covers/manga-page3-webp/Bakemonogatari/Bakemonogatari-20.webp);
        &::after {
          content: "Bakemonogatari";
        }
      }
      .card11 {
        background-image: url(../assets/manga-covers/manga-page3-webp/Hataraku-Maou-sama/Hataraku\ Maou-sama-20.webp);
        &::after {
          content: "The Devil Is a Part-Timer!";
        }
      }
      .card12 {
        background-image: url(../assets/manga-covers/manga-page3-webp/Kakkou-no-Iinazuke/Kakkou\ no\ Iinazuke-15.webp);
        &::after {
          content: "A Couple of Cuckoos";
        }
      }
      //*==========  Cards [END here]  ==========*//
      //todo manga3 [END]
    }
  }
}
