.manga__body {
  // manga container
  main {
    .manga1 {
      .card1 {
        background-image: url(../assets/manga-covers/manga-page1-webp/tomo-chan-wa-onna-no-ko/tomo-chan-8.webp);

        &::after {
          content: "Tomo-chan wa onna no ko";
        }
      }
      .card2 {
        background-image: url(../assets/manga-covers/manga-page1-webp/mieruko-chan/mieruko-chan-8.webp);
        &::after {
          content: "Mieruko-chan";
        }
      }
      .card3 {
        background-image: url(../assets/manga-covers/manga-page1-webp/pumpkin-night/pumpkin-night-7.webp);
        &::after {
          content: "Pumpkin Night";
        }
      }
      .card4 {
        background-image: url(../assets/manga-covers/manga-page1-webp/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling10.webp);
        &::after {
          content: "My Dress up Darling";
        }
      }
      .card5 {
        background-image: url(../assets/manga-covers/manga-page1-webp/chainsaw-man/chainsaw-man-13.webp);
        &::after {
          content: "Chainsaw Man";
        }
      }
      .card6 {
        background-image: url(../assets/manga-covers/manga-page1-webp/Mochizuki-sanchi-no-Yankee/Mochizuki-sanchi-no-Yankee-3.webp);
        &::after {
          content: "Mochizuki-sanchi-no-Yankee";
        }
      }
      .card7 {
        background-image: url(../assets/manga-covers/manga-page1-webp/Aho-Girl/Aho-Girl-12.webp);
        &::after {
          content: "Aho-Girl";
        }
      }
      .card8 {
        background-image: url(../assets/manga-covers/manga-page1-webp/SPYxFAMILY/SPYxFAMILY-10.jpg);
        &::after {
          content: "SPY×FAMILY";
        }
      }
      .card9 {
        background-image: url(../assets/manga-covers/manga-page1-webp/uzaki-chan-wants-to-hang-out/uzaki-chan-9.webp);
        &::after {
          content: "Uzaki-chan Wants to Hang out";
        }
      }
      .card10 {
        background-image: url(../assets/manga-covers/manga-page1-webp/wotakoi-love-is-hard/wotakoi-love-is-hard-11e.webp);
        &::after {
          content: "Wotakoi Love is Hard";
        }
      }
      .card11 {
        background-image: url(../assets/manga-covers/manga-page1-webp/classroom-of-the-elite/classroom-of-the-elite-12.webp);
        &::after {
          content: "Classroom of the Elite";
        }
      }
      .card12 {
        background-image: url(../assets/manga-covers/manga-page1-webp/Darling-in-the-FranXX/Darling-in-the-FranXX-8.webp);
        &::after {
          content: "Darling in the FranXX";
        }
      }
      //*==========  Cards [END here]  ==========*//
      //todo manga1 [END]
    }
  }
}
