.manga__body {
  // manga container
  main {
    .manga1 {
      .card1 {
        background-image: url(/assets/manga-banner/tomo-chan-wa-onna-no-ko/tomo-chan-8.webp);
        &::after {
          content: "tomo-chan";
        }
      }
      .card2 {
        background-image: url(/assets/manga-banner/mieruko-chan/mieruko-chan-8.webp);
        &::after {
          content: "mieruko-chan";
        }
      }
      .card3 {
        background-image: url(/assets/manga-banner/sono-bisque-doll-wa-koi-wo-suru/my-dress-up-darling10.webp);
        &::after {
          content: "my dress up darling";
        }
      }
      .card4 {
        background-image: url(/assets/manga-banner/pumpkin-night/pumpkin-night-7.webp);
        &::after {
          content: "pumpkin night";
        }
      }
      .card5 {
        background-image: url(/assets/manga-banner/chainsaw-man/chainsaw-man-13.webp);
        &::after {
          content: "chainsaw-man";
        }
      }
      .card6 {
        background-image: url(/assets/manga-banner/uzaki-chan-wants-to-hang-out/uzaki-chan-9.webp);
        &::after {
          content: "uzaki-chan-wants-to-hang-out";
        }
      }
      .card7 {
        background-image: url(../assets/manga-covers/manga-page1-webp/Boy-s\ Abyss.webp);
        &::after {
          content: "Boy's Abyss";
        }
      }
      .card8 {
        background-image: url(../assets/manga-covers/manga-page1-webp/Boy-s\ Abyss\ -\ Vol.\ 4\,\ Ch.\ 32_\ Decision\ -\ 2.webp);
        &::after {
          content: "Name of mangdfghdfhfda and some other info";
        }
      }
      .card9 {
        background-image: url(../assets/manga-covers/manga-page1-webp/Boy-s\ Abyss\ -\ Vol.\ 6\,\ Ch.\ 49_\ Waiting\ for\ Spring\ -\ 2.webp);
        &::after {
          content: "Name of mangjgfdhfghjfdgha and some other info";
        }
      }
      .card10 {
        background-image: url(../assets/manga-covers/manga-page1-webp/Boy-s\ Abyss\ -\ Vol.\ 8\,\ Ch.\ 78\ -\ 2.webp);
        &::after {
          content: "Boy's Abyss  [Vol. 8]  [Ch. 78]";
        }
      }
      .card11 {
        background-image: url(../assets/manga-covers/manga-page1-webp/ID_INVADED_BRAKE_BROKEN.webp);
        &::after {
          content: "ID INVADED #BRAKE BROKEN";
        }
      }
      .card12 {
        background-image: url(../assets/manga-covers/manga-page1-webp/Im_Not_That_Kind_of_Talent.webp);
        &::after {
          content: "I'm Not That Kind of Talent";
        }
      }
      //*==========  Cards [END here]  ==========*//
      //todo manga1 [END]
    }
  }
}
