.manga__body {
  //banner background(blur) + manga cover

  .header3b6 .banner-bg,
  .header3b6 .info .info__manga-img .info__manga-img__manga-cover {
    -webkit-animation: 30s linear 0s infinite running page3banner6;
    animation: 30s linear 0s infinite running page3banner6;

    @-webkit-keyframes page3banner6 {
      0% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-1.webp);
      }
      12% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-2.webp);
      }
      24% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-3.webp);
      }
      36% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-4.webp);
      }
      47% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-5.webp);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-6.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-7.webp);
      }
      90% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-8.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-9.jpg);
      }
    }

    @keyframes page3banner6 {
      0% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-1.webp);
      }
      12% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-2.webp);
      }
      24% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-3.webp);
      }
      36% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-4.webp);
      }
      47% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-5.webp);
      }
      70% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-6.webp);
      }
      80% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-7.webp);
      }
      90% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-8.webp);
      }
      100% {
        background-image: url(../assets/manga-covers/manga-page3-webp/Juujika-no-Rokunin/Juujika-no-Rokunin-9.jpg);
      }
    }
  }
}
